/*Variáveis*/
:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;

    --white: #fff;

    --title: #181818;
    --text: #474747;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1.6rem;

    width: 100%;

    background: #F9F9F9;



}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.frete {

    width: 41.4rem;
    height: 6rem;


    background: #181818;
}

.frete-texto {

    padding-block: 1.5rem;
    padding-inline: 5.8rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 196.19%;
    /* or 31px */

    display: flex;
    align-items: center;
    justify-content: center;

    color: #F9F9F9;
}

.title {

    padding-block: 0.6rem;
    padding-inline: 12.7rem;
    background: #F9F9F9;



}

.title-texto {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 196.19%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #181818;


}

.banner {
    width: 414px;
    height: 377px;


    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/wallpaper.jpeg);
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    color: #F9F9F9;

    margin: 12.2rem 4.4rem 1.2rem 2rem;

}

.banner-texto {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;

    display: flex;
    align-items: center;

    color: #FFFFFF;

    padding: 1.2rem 3.7rem 12.2rem 2rem;

}

.destaques-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 196.19%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #181818;

    padding: 5rem 12.9rem 0.5rem 13rem;
}

.destaques-texto {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    padding: 0.5rem 2rem 3rem 2rem;
}

.lista-jordan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}




.jordan-1,
.jordan-2,
.jordan-3,
.jordan-4,
.jordan-5,
.jordan-6,
.jordan-7,
.jordan-8,
img {
    background: #EBE9EA;
    border: 0.2rem solid #EBE9EA;
    border-radius: 0.5rem;

    margin: 3rem 2rem 0rem 2rem;
    padding-block: rem;

    display: flex;
    align-items: center;
    justify-content: center;

}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

a:hover img {

    transform: scale(1.2);
    background: linear-gradient(#3332321e, #0f0e0e15);
    transition: 1s;

}

img {
    
        width: 420px;
        height: 300px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

button,
input {
    border: 0;
}

button:focus,
input:focus {
    border: 0;
}

.footer {
    background-color: var(--title);
    color: var(--white);
    font-weight: 500;
    font-family: 'Montserrat';
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;


}



@media only screen and (min-width: 1024px) {

    body {
        font-size: 1.6rem;
        width: 100vw;
        height: 100vh;
        background: #F9F9F9;
    }

    .frete {
        width: 100%;
        height: 7rem;
        background: #181818;
    }

    .frete-texto {
        font-size: 24px;
        justify-items: center;
        align-items: center;
        display: flex;
    }

    .title {
        padding-block: 0.6rem;
        padding-inline: 12.7rem;
        background: #F9F9F9;
    }

    .title-texto {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 196.19%;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #181818;
    }

    .banner {
        width: 100%;
        height: 55.5rem;
        padding-bottom: 5.8rem;

        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/wallpaper.jpeg);

        background-position: center;


    }

    .banner-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 34px;

        color: #F9F9F9;

        padding: 12.9rem 50.0rem 1rem 8rem;



    }

    .banner-texto {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 180%;
        /* or 29px */

        color: #FFFFFF;

        padding: 0rem 70rem 12.1rem 10rem;
    }

    .destaques-title {

        font-size: 38px;
        line-height: 196.19%;
        /* identical to box height, or 55px */

        display: flex;
        align-items: center;
        justify-content: center;

        color: #181818;

        padding: 5.8rem 12.9rem 0.5rem 13rem;
    }

    .destaques-texto {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 180%;
        /* or 29px */

        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        padding: 0.5rem 2rem 3rem 2rem;
    }

    .lista-jordans ol {
        display: grid;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        padding-top: 5.9rem;
        
    }
    .lista-jordan img {
        width: 95%;
        height: 95%;
    }

    .jordan-1 {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .jordan-2 {
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .jordan-3 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .jordan-4 {
        grid-column-start: 4;
        grid-column-end: 5;
    }

   


    .footer {
        height: 8rem;

        background: #181818;
        margin-top: 10rem;

    }

    footer h3 {
        font-size: 24px;
        line-height: 196.19%;
        /* or 35px */

        color: #F9F9F9;
        padding: 1.2rem 59rem 1.3rem 59rem;
    }

}