/*Variáveis*/
:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;

    --white: #fff;

    --title: #181818;
    --text: #474747;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1.6rem;

    width: 41.4rem;
    height: 34.60rem;

    background: #F9F9F9;


}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.frete {

    width: 41.4rem;
    height: 6rem;
    left: 0px;
    top: 0px;

    background: #181818;
}

.frete-texto {

    padding-block: 1.5rem;
    padding-inline: 5.8rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 196.19%;
    /* or 31px */

    display: flex;
    align-items: center;
    justify-content: center;

    color: #F9F9F9;
}

.title {

    padding-block: 0.6rem;
    padding-inline: 12.7rem;
    background: #F9F9F9;


}

.title-texto {



    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 196.19%;
    /* identical to box height, or 47px */

    display: flex;
    align-items: center;
    justify-content: center;


    color: #181818;
}

.banner {
    width: 414px;
    height: 377px;
    left: 0px;
    top: 120px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/wallpaper.jpeg);

    background-size: cover;


}

.banner-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    color: #F9F9F9;

    padding: 12.2rem 4.4rem 1.2rem 2rem;

}

.banner-texto {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    /* or 29px */

    display: flex;
    align-items: center;

    color: #FFFFFF;

    padding: 1.2rem 3.7rem 12.2rem 2rem;
}

.destaques-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 196.19%;
    /* identical to box height, or 55px */

    display: flex;
    align-items: center;
    justify-content: center;

    color: #181818;

    padding: 5rem 12.9rem 0.5rem 13rem;
}

.destaques-texto {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    /* or 29px */

    display: flex;
    align-items: center;
    text-align: center;

    padding: 0.5rem 2rem 3rem 2rem;
}

.lista-jordan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.jordan-1,
img {
    background: #EBE9EA;

    margin: 5.9rem 2rem 0rem 2rem;
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;



}

.jordan-2,
.jordan-3,
.jordan-4,
.jordan-5,
.jordan-6,
.jordan-7,
.jordan-8,
img {
    background: #EBE9EA;

    margin: 3rem 2rem 0rem 2rem;
    padding-block: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input {
    border: 0;
}

button:focus,
input:focus {
    border: 0;
}

footer {
    height: 6rem;
    width: 41.4rem;
    background: #181818;
    margin-top: 5rem;
    
}

footer h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 196.19%;
    /* or 35px */

    display: flex;
    align-items: center;
    justify-content: center;

    color: #F9F9F9;
    padding: 1.2rem 7.7rem 1.3rem 7.7rem;
}

@media only screen and (min-width: 768px) {

    body {
        font-size: 1.6rem;
    
        width: 144.0rem;
        height: 151.5rem;
    
        background: #F9F9F9;
    
    
    }

    .frete {

        width: 144.40rem;
        height: 6rem;
       
    
        background: #181818;
    }
    
    .frete-texto {
    
        
        font-size: 20px;
        
    }
    
    .title {
    
        padding-block: 0.6rem;
        padding-inline: 12.7rem;
        background: #F9F9F9;
    
    
    }
    
    .title-texto {
    
    
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 196.19%;
        /* identical to box height, or 47px */
    
        display: flex;
        align-items: center;
        justify-content: center;
    
    
        color: #181818;
    }
    
    .banner {
        width: 144.0rem;
        height: 37.8rem;
        padding-bottom: 5.8rem;
    
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/wallpaper.jpeg);
    
        background-size: cover;
    
    
    }
    
    .banner-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 34px;
    
        color: #F9F9F9;
    
        padding: 12.9rem 94.0rem 0rem 10rem;
    
    }
    
    .banner-texto {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 180%;
        /* or 29px */
    
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
    
        padding: 1.9rem 88rem 12.1rem 10rem;
    }
    
    .destaques-title {
        
        font-size: 32px;
        line-height: 196.19%;
        /* identical to box height, or 55px */
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: #181818;
    
        padding: 5rem 12.9rem 0.5rem 13rem;
    }
    
    .destaques-texto {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        /* or 29px */
    
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    
        padding: 0.5rem 2rem 3rem 2rem;
    }
    
    .lista-jordan {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        
    
    }
    
    
    .jordan-1,
    .jordan-2,
    .jordan-3,
    .jordan-4,
    .jordan-5,
    .jordan-6,
    .jordan-7,
    .jordan-8,
    img {
        background: #EBE9EA;
        width: 440px;
        height: 390px;
        row-gap: 1.3rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-direction: wrap;

        
    
    }
    
    footer {
        height: 6rem;
        width: 144rem;
        background: #181818;
        margin-top: 10rem;
        
    }
    
    footer h3 {
        
      
        font-size: 18px;
        line-height: 196.19%;
        /* or 35px */
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: #F9F9F9;
        padding: 1.2rem 59rem 1.3rem 59rem;
    }
    
    

}